{% extends 'base.html' %}

{% block title %}About - LatencyMonitor{% endblock %}

{% block content %}
<div>
    <section>
        <h2>Informazioni sul progetto</h2>
    </section>
    <br>
    <p>
        LatencyMonitor è una piattaforma web avanzata sviluppata per il monitoraggio e l'analisi di dati di latenza 
        raccolti da smartphone e sensori in un contesto di tirocinio e ricerca. Il progetto nasce con l'obiettivo di 
        studiare e misurare la cosiddetta <strong>glass-to-glass latency</strong>, ovvero il ritardo totale tra la 
        generazione di un segnale visivo (come l'accensione di un LED) e la sua rilevazione tramite sensori fotografici o fotodiodi.
    </p>
    <br>

    <p>
        La piattaforma consente di gestire dispositivi mobile (smartphone) associati a diversi esperimenti di misura, 
        ognuno con modalità di acquisizione specifiche, come ad esempio la modalità foto o video. Gli esperimenti raccolgono 
        dati precisi relativi alla latenza e ai segnali acquisiti da un fotodiodo, permettendo di analizzare con dettaglio le 
        performance dei dispositivi in vari scenari.
    </p>
    <br>
    <p>
        Il sistema è dotato di una dashboard interattiva, che visualizza dati aggiornati e grafici dinamici per una 
        rapida consultazione dei risultati, oltre a una sezione dedicata alla gestione delle segnalazioni e delle anomalie 
        riscontrate durante gli esperimenti.
    </p>
    <br>
    <p>
        Tra le funzionalità principali di LatencyMonitor vi sono:
        <ul>
            <li>Registrazione e autenticazione utenti per garantire sicurezza e controllo degli accessi;</li>
            <li>Gestione centralizzata di dispositivi e esperimenti, con possibilità di aggiungere note e chiudere esperimenti;</li>
            <li>Visualizzazione di grafici interattivi per analizzare la latenza e i dati raccolti;</li>
            <li>Supporto per il download di report dettagliati in formato PDF;</li>
            <li>Interfaccia moderna e responsive, pensata per una facile navigazione da desktop e dispositivi mobili.</li>
        </ul>
    </p>
    <br>
    <p>
        Grazie a LatencyMonitor, è possibile ottenere una visione completa e approfondita dei ritardi di visualizzazione 
        in dispositivi mobili, supportando attività di ricerca e sviluppo nel campo delle telecomunicazioni e dell'ingegneria 
        dei segnali.
    </p>
</div>
{% endblock %}