<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Latency Monitor{% endblock %}</title>
    
    <link href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" rel="stylesheet">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/logout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {% include 'sidebar.html' %}
    <section class="dashboard-wrapper">
        <div class="dash-content">
            {% block content %}{% endblock %}
        </div>
    </section>
    
    {% include 'footer.html' %}
    <script src="{% static 'js/sidebarToggle.js' %}"></script>
</body>
</html>
