<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Latency Monitor{% endblock %}</title>
    
    
    {% load static %}
    {% block head %}
    {% endblock %}
    
    <link href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.2.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="{% static 'js/sidebarToggle.js' %}"></script>
</head>
<body>
    {% include 'sidebar.html' %}
    <section class="dashboard-wrapper">
        <div class="dash-content">
            {% block content %}{% endblock %}
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>
