<nav id="navBar">
    <div class="logo-name">
        <span class="logo_name">Latency Monitor</span>
        <i class="uil uil-bars sidebar-toggle"></i>
    </div>
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="{% url 'core:home' %}">
                <i class="uil uil-estate"></i>
                <span class="link-name">Home</span>
            </a></li>
            <li><a href="{% url 'dashboard:view' %}">
                <i class="uil uil-dashboard"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="{% url 'experiments:list' %}">
                <i class="uil uil-chart"></i>
                <span class="link-name">Esperimenti</span>
            </a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'issues:list' %}">
                    <i class="uil uil-exclamation-triangle"></i>
                    <span class="link-name">Segnalazioni</span>
                </a></li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li><a href="{% url 'admin:users_approval' %}">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Approvazione utenti</span>
                </a></li>
                <li><a href="{% url 'analytics:list' %}">
                    <i class="uil uil-chart-line"></i>
                    <span class="link-name">Statistiche</span>
                </a></li>
            {% endif %}
        </ul>
    
        <ul class="logout-mode">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'users:profile' %}">
                        <i class="uil uil-user"></i>
                        <span class="link-name">Profilo</span>
                    </a>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'users:logout' %}">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'users:login' %}">
                        <i class="uil uil-signin"></i>
                        <span class="link-name">Login</span>
                    </a>
                </li>
            {% endif %}


            <li class="mode">
                <a href="#">
                    <div class="mode-toggle">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                        <span class="switch"></span>
                    </div>
                </a>
            </li>
            <li class="mode">
                <a href="{% url 'core:about' %}">
                    <div class="mode-toggle">
                        <i class="uil uil-info-circle"></i>
                        <span class="link-name">About</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
